<!DOCTYPE html>
 <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>GameLocker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="/stylesheets/mystyle.css" />
	
  </head>
  <style>
  body{
	  font-family: Arial, Helvetica, sans-serif;
	  background-color:snow;
  }
  </style>
  <ul>
  <li><a href="/users/profile">Profile</a></li>
  <li><a href="/games">Archive</a></li>
  <li><a href="/games/create">Add a game </a></li>
  </ul>

<h1>Welcome <%= @user.username%>! Here is your current collection</h1>
<form action="/games/delete" method="POST">
<% @user.games.each do |g|%>
    <b>Title: <%= g.title%></b>
    <b>Genre: <%= g.genre%></b>
    <b>Price: $<%= g.price%></b><input type="checkbox" name="g[id]" id="g[id]" value="<%= g.id %>"> 
    <br>
<% end %>
<p><%= @success %></p>
<p>
<p>Total Collection Value: $<%= @user.games.inject(0){|sum, g| sum + g.price}%></p>
<p><%= @error %></p>
<h3><input type="submit" value="Remove selected game"></h3>
</form>
<div class="footer">
    <a href="/logout">logout</a>
    <small>&copy; 2020 <strong>GameLocker</strong></small>
</footer>

</html>
