<h1>This is the list of all user submitted games! </h1>
<form action="/games/add" method="POST">
<% @games.each do |game|%>
   <b>Title: </b> <%= game.title%>
   <b>Genre: </b> <%= game.genre%></b>
   <b>Value: </b> $<%= game.price%></b> Add it to your collection! <input type="checkbox" name="game[id]" id="game[id]" value="<%= game.id %>"> 
   <br>
   <span></span>
   
<% end %>
<input type="submit" value="Add!">
<h3> <%= @error %> </h3>
</form>
<footer> <a href="/logout">logout</a> <a href="/users/profile">profile</a></footer>